body {
	background-color: #D17200;
	color: #5ADABD;
}

#oppacity-bg {
	background: rgba(0, 0, 0, 0.25);
}

hr {
	margin-top: -1em;
	border-top: 2px dashed #5BD445;
	width: 15%;
}

h1, h2, h3, h4 {
	color: #5BD445;
}

h1, h2 {
	height: 2em;
}

a, a:visited, a:hover {
	color: #5BD445;
}

#bannière {
	max-width: 100%;
	height: 20%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

#illustration {
	border-radius: 7px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.75);
}

#contact {
	margin-bottom: 1em;
}

.box {
	box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.64);
	border-radius: 8px 8px 8px 8px;
	border: 1px solid #000000;
	background-color: #D17200;
}

.box-header {
	min-height: 4em;
	overflow:hidden;
}

.box-borders {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

footer {
	background: rgba(0, 0, 0, 0.25);
	margin-top: 1em;
}